/* users.css */


.join-box,
.login-box {
    position: relative;
    top: -240px;
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    padding: 100px 200px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
}

.join-box h2,
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.join-box form .form-group,
.login-box form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.join-box form .form-group label,
.login-box form .form-group label {
    width: 150px;
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}


.join-box form .form-group input,
.login-box form .form-group input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.join-box form .form-group span,
.login-box form .form-group span {
    width: 150px;
    font-size: 12px;
    padding-left: 10px;
}

.join-box form button,
.login-box form button {
    width: 300px;
    padding: 10px;
    margin-left: 150px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
} 
.join-box form button:disabled,
.login-box form button:disabled {
    /* 버튼이 비활성화 상태일 때 */
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}